body{
    font-family: 'Lobster', cursive;
}

.background{
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    height: 360px;
  
}

.heading{
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
   
}

.padding{
    padding-top: 100px;
}

.pera-edit{
    padding-left: 25%;
    padding-right: 25%;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}
#text-clr1{
    color: white;
}

.button{
    text-decoration: none;
    color: black;    
    background-image: linear-gradient(pink,red);
    padding: 4px;
    border-radius: 5px;
    margin-left: 43%;

}

.heading2{
    text-align: center;
}

.display-edit{
    display: flex;
    padding-left: 13%;
    padding-right: 40%;
}

.amount{
    padding-top: 1px;
    padding-left: 14px;
    border:2px solid grey;
    margin:5px;
    border-radius: 5px;
    

}
.plan{
    padding-top: 35px;
    padding-left:3%;
    padding-right: 45%;
    height: 150px;
    width: 33%;
    border:2px solid greenyellow;
    margin: 5px;
    border-radius: 5px;
    
}

#padd-amount{
    padding-left:24%;
    padding-right: 23%;
}
#bg-clr1{
    background-color: bisque;
    background-image:url(donate-today-main/icons/food.png);
    background-repeat: no-repeat;
    
}
#bg-clr2{
    background-color: rgb(223, 126, 7);
    background-image:url(donate-today-main/icons/shelter.png);
    background-repeat: no-repeat;
}
#bg-clr3{
    background-color: rgb(163, 6, 93);
    background-image:url(donate-today-main/icons/Frame-1.png);
    background-repeat: no-repeat;
}

.button2{
    text-decoration: none;
    color: black;   
}

#auto-select{
    padding-top: 1px;
    padding-left: 14px;
    border:2px solid green;
    margin:5px;
    background-color: rgb(101, 180, 101);
    border-radius: 5px;

}

#amount-feild{
    padding-left:40%;
    padding-top: 3%;
    
}
.button-padding{
    margin-top:20px;
    margin-left: 20px;
}
.Top-margin{
    margin-top: 50px;
}

